h5,
h6 {
  color: #ffffff;
}
a {
  color: #ffffff;
}

.txt-secondary {
  color: #0466c8;
}
.btn-secondary {
  color: #ffffff;
  background-color: #0466c8;
  border-color: #0466c8;
}
.img-logo {
  width: 2.375rem;
}

.txt-xs {
  font-size: 0.63rem;
}
.form-group {
  margin-top: 1.625rem;
  margin-bottom: 0;
}
.mt-6 {
  margin-top: 4.5rem;
}
